<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CarShop"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Mushfiq Ur Rashid\source\repos\FINAL ASSIGNMENT 123\FINAL ASSIGNMENT 123\CARSHOP123.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>


